extends layout

block layout-content
  div.View.welcomeView
    h1.Banner Ethan Krause
    div.Message
      div.Title
        h3 Testing stuff asd 
        h1 for ETK
      span.Details Access my portal
    div.NavButtons
      a(href="/user")
          div.NavButton Login here!